---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plugin-barman-cloud
  namespace: cnpg-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: plugin-barman-cloud
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
