---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: recyclarr
  namespace: flux-system
spec:
  components:
    - ../../../../../components/volsync
  interval: 1h
  path: ./k8s/apps/base/arr-stack/recyclarr/app
  postBuild:
    substitute:
      APP: recyclarr
      VOLSYNC_CAPACITY: 600Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
