# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
  namespace: homelab
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      mealie:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.9.2@sha256:57713693dceca9a124f00f165eaf8f5c41de757e7f63f8a7b80625488605dc61
            env:
              TZ: ${TIMEZONE}
              ALLOW_SIGNUP: "false"
              BASE_URL: https://{{ .Release.Name }}.${DOMAIN}

            resources:
              requests:
                cpu: 100m
                memory: 128M
              limits:
                memory: 512M

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9000
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: reverse-proxy
            namespace: envoy-gateway-system
        hostnames:
          - '{{ .Release.Name }}.${DOMAIN}'

    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 300Mi
        globalMounts:
          - path: /app/data
