# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name qbittorrent
  namespace: homelab
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qbittorrent:
        containers:
          netbird:
            image:
              repository: docker.io/netbirdio/netbird
              tag: 0.64.1
            securityContext:
              allowPrivilegeEscalation: true
              runAsUser: 0      # NetBird needs to be root inside the container
              runAsNonRoot: false
              readOnlyRootFilesystem: false # NetBird writes logs/state to disk often
              capabilities:
                add:
                  - NET_ADMIN   # Required to create the VPN interface
                  - SYS_MODULE  # Optional: Sometimes needed for wireguard module interactions, though usually not for userspace implementation
            envFrom:
              - secretRef:
                  name: netbird-setup-key
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: "${TZ}"
              QBT_TORRENTING_PORT: &bittorrent_port 52525
              QBT_WEBUI_PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 6
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: OnRootMismatch
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
    service:
      app:
        primary: true
        controller: *name
        ports:
          http:
            port: *port
#      bittorrent:
#        type: LoadBalancer
#        controller: *name
##        loadBalancerClass: "io.cilium/node"
##        allocateLoadBalancerNodePorts: false
##        externalTrafficPolicy: Cluster
##        ipFamilyPolicy: PreferDualStack
##        ipFamilies:
##          - IPv4
##          - IPv6
#        ports:
#          tcp:
#            enabled: true
#            port: *bittorrent_port
#            protocol: TCP
#          udp:
#             enabled: true
#             protocol: UDP
#             port: *bittorrent_port

    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: reverse-proxy
            namespace: envoy-gateway-system
        hostnames:
          - 'qbittorrent.${DOMAIN}'
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - kind: Service
                port: *port
                name: qbittorrent-app
                namespace: homelab
                weight: 1

    persistence:
      config:
        existingClaim: qbittorrent
      netbird-config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 300Mi
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: data
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
