# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name qbittorrent
  namespace: homelab
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *name
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qbittorrent:
        containers:
          prowlarr:
            image:
              repository: ghcr.io/home-operations/prowlarr
              tag: 2.3.2.5245@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438
            env:
              PROWLARR__UPDATE__BRANCH: develop
              TZ: "${TZ}"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 9696
                  initialDelaySeconds: 80
                  periodSeconds: 10
                  timeoutSeconds: 15
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
                  initialDelaySeconds: 60
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ "ALL" ] }
            resources:
              limits:
                memory: 200Mi
              requests:
                cpu: 50m
          gluetun:
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.1
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
            envFrom:
              - secretRef:
                  name: wireguard-secrets
            env:
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard

              FIREWALL_VPN_INPUT_PORTS: "41047"
              FIREWALL_OUTBOUND_SUBNETS: "10.244.0.0/16,10.96.0.0/12"
              FIREWALL_INPUT_PORTS: "80,9696"
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: "${TZ}"
              QBT_TORRENTING_PORT: &bittorrent_port 41047
              QBT_WEBUI_PORT: &port 80
            dependsOn:
              - gluetun
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 6
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: OnRootMismatch
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
    service:
      prowlarr:
        controller: *name
        ports:
          http:
            port: 9696
      app:
        primary: true
        controller: *name
        ports:
          http:
            port: *port

    persistence:
      prowlarr-config:
        existingClaim: prowlarr
        advancedMounts:
          qbittorrent:
            prowlarr:
              - path: /config
                readOnly: false
      config:
        existingClaim: qbittorrent
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
                readOnly: false
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: data
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir