---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: radarr
spec:
  components:
    - ../../../../components/volsync
  interval: 1h
  path: ./k8s/apps/base/arr-stack/radarr/app
  postBuild:
    substitute:
      APP: radarr
      VOLSYNC_CAPACITY: 150Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: homelab
  wait: false
