apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
  namespace: observability
spec:
  parentRefs:
    - name: reverse-proxy
      namespace: envoy-gateway-system
  hostnames:
    - 'grafana.${DOMAIN}'
  rules:
    - backendRefs:
        - name: grafana-service
          port: 3000
