apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m0s
  dependsOn:
    - name: infra-configs
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./k8s/apps/oracle
  prune: true
  # disable wait because of pvc WaitForConsumer
  wait: false
  timeout: 5m0s
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - # Add Kustomization defaults for all child Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          decryption:
            provider: sops
            secretRef:
              name: sops-age
          deletionPolicy: WaitForTermination
          postBuild:
            substituteFrom:
              - kind: ConfigMap
                name: variables
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: variables
