apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy
  namespace: observability
data:
  config.alloy: |
    beyla.ebpf "default" {
        debug = true
        attributes {
            kubernetes {
                enable = "true"
            }
        }
    
        discovery {
            instrument {
                open_ports = "8096"
                kubernetes {
                    namespace = "homelab"
                    deployment_name = "jellyfin"
                }
            }
        }
    
        metrics {
            features = [
                "network",
            ]
        }
    }
    
    prometheus.scrape "beyla" {
        targets      = beyla.ebpf.default.targets
        honor_labels = true
        forward_to   = [prometheus.remote_write.rw.receiver]
    }
    
    prometheus.remote_write "rw" {
        endpoint {
            url = "http://vmsingle-stack.observability.svc.cluster.local:8428/prometheus/api/v1/write"
        }
    }
